{{ include headerTmpl }}
<div class="content" id="#content">
    <ul class="table-view">
        <li class="table-view-cell media">
            <a class="navigate-right" href="?module/121">
                <img class="media-object pull-left" src="http://placehold.it/42x42">
                <div class="media-body">
                    Item 1
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" href="?module/122">
                <img class="media-object pull-left" src="http://placehold.it/42x42">
                <div class="media-body">
                    Item 1
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" href="?module/123">
                <img class="media-object pull-left" src="http://placehold.it/42x42">
                <div class="media-body">
                    Item 1
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
                </div>
            </a>
        </li>
    </ul>
</div>
{{ include footerTmpl }}
