.slide-example{
    width: 100%;
    height: 100%;
    .slide-container-vertical, .slide-container-horizontal{
        width: 100%;
        height: 100%;
    }
}
.content-padded.content-swipe-demo{
    height: 80%;
}

.slide-example{
    img{
        width: 100%;
    }
    .slide-guide{
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 10px 0;
        background-color: rgba(0,0,0,.6);
        button{
            color: #000;
        }
    }
}
