.slide-example {
  width: 100%;
  height: 100%; }
  .slide-example .slide-container-vertical, .slide-example .slide-container-horizontal {
    width: 100%;
    height: 100%; }

.content-padded.content-swipe-demo {
  height: 80%; }

.slide-example img {
  width: 100%; }
.slide-example .slide-guide {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .slide-example .slide-guide button {
    color: #000; }
