.page404 .f404 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  line-height: 60px;
  letter-spacing: 5px;
  color: #fff;
  margin-top: 120px;
  margin-bottom: 20px; }

.page404 .f404 span {
  cursor: pointer;
  text-shadow: 0 2px #686868, 0 1px 1px #ddd, 0 2px 1px #d6d6d6, 0 3px 1px #ccc, 0 4px 1px #c5c5c5, 0 5px 1px #c1c1c1, 0 6px 1px #bbb, 0 7px 1px #777, 0 8px 3px rgba(100, 100, 100, 0.4), 0 9px 5px rgba(100, 100, 100, 0.1), 0 10px 7px rgba(100, 100, 100, 0.15), 0 11px 9px rgba(100, 100, 100, 0.2), 0 12px 11px rgba(100, 100, 100, 0.25), 0 13px 15px rgba(100, 100, 100, 0.3);
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }

.page404 .f404 span:hover {
  text-shadow: 0 2px #686868, 0 1px 1px #fff, 0 2px 1px #fff, 0 3px 1px #fff, 0 4px 1px #fff, 0 5px 1px #fff, 0 6px 1px #fff, 0 7px 1px #777, 0 8px 3px #fff, 0 9px 5px #fff, 0 10px 7px #fff, 0 11px 9px #fff, 0 12px 11px #fff, 0 13px 15px #fff;
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }

.page404 .f404-des {
  text-align: center;
  color: #666;
  font-family: cursive;
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: 1px;
  line-height: 2em; }

body {
  min-width: 300px; }

.ui-modal, .modal-overlay, input, textarea, select, header, footer, section {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

.content {
  margin-top: 44px; }

.table-view-cell img {
  width: 60px; }

.title-ms {
  display: block;
  width: 100%; }
  .title-ms > * {
    width: 100%;
    text-align: center;
    position: absolute;
    margin: 0 -10px; }
  .title-ms .title {
    height: 24px;
    line-height: 30px; }
  .title-ms .subtitle {
    top: 25px;
    height: 20px;
    line-height: 14px;
    font-size: 12px; }

/* === Modals === */
.modal-overlay, .preloader-indicator-overlay, .popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 13000;
  visibility: hidden;
  opacity: 0; }
  .modal-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1; }

.popup-overlay {
  z-index: 10500; }

.modal-layout {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 270px;
  height: auto;
  margin-left: -135px;
  z-index: 13500;
  text-align: center;
  border-radius: 13px;
  opacity: 0;
  color: #000;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.modal-inner {
  padding: 15px;
  border-radius: 13px 13px 0 0;
  position: relative;
  background: rgba(255, 255, 255, 0.95); }

.modal-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center; }
  html.ios-gt-8 .modal-title {
    font-weight: 600; }
  .modal-title + .modal-text {
    margin-top: 5px; }

.modal-buttons {
  height: 44px;
  position: relative;
  border-top: 1px solid rgba(230, 230, 230, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }
  .modal-buttons.modal-buttons-vertical {
    display: block;
    height: auto; }

.modal-button {
  width: 100%;
  padding: 0 5px;
  height: 44px;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  color: #ccc;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  background-color: rgba(255, 255, 255, 0.95); }
  .modal-button:first-child {
    border-radius: 0 0 0 13px; }
  .modal-button:last-child {
    border-radius: 0 0 13px 0; }
  .modal-button:first-child:last-child {
    border-radius: 0 0 13px 13px; }
  .modal-button.modal-button-bold {
    font-weight: 500; }
    html.ios-gt-8 .modal-button.modal-button-bold {
      font-weight: 600; }
  html:not(.watch-active-state) .modal-button:active, .modal-button.active-state {
    background: rgba(230, 230, 230, 0.95); }
  .modal-buttons-vertical .modal-button {
    border-radius: 0; }
    .modal-buttons-vertical .modal-button:last-child {
      border-radius: 0 0 13px 13px; }

.modal-no-buttons .modal-inner {
  border-radius: 13px; }
.modal-no-buttons .modal-buttons {
  display: none; }

.modal-loading {
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80px;
  height: auto;
  margin-left: -40px; }
  .modal-loading .modal-inner {
    background-color: transparent;
    width: 80px;
    height: 80px; }

.modal-confirm .modal-buttons .modal-button {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  flex: 2; }

.modal-alert .modal-buttons .modal-button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1; }

.modal-top, .modal-bottom {
  width: 100%;
  border-radius: 0;
  margin: 0 !important;
  left: 0 !important; }
  .modal-top .modal-inner, .modal-top .modal-button, .modal-bottom .modal-inner, .modal-bottom .modal-button {
    border-radius: 0; }
  .modal-top .modal-button:first-child, .modal-top .modal-button:last-child, .modal-bottom .modal-button:first-child, .modal-bottom .modal-button:last-child {
    border-radius: 0; }

.modal-top {
  top: 0;
  bottom: auto !important; }
  .modal-top .modal-inner {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff; }

.modal-bottom {
  top: auto !important;
  bottom: 0; }
  .modal-bottom .modal-inner {
    padding: 0; }

.modal-popover {
  width: 150px; }

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #007aff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
#modal {
  width: 100%;
  height: 100%; }

#toast {
  display: none;
  position: fixed;
  bottom: 20%;
  width: 100%;
  text-align: center; }
  #toast .modal-toast {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    color: #fff; }
    #toast .modal-toast .icon {
      font-size: 15px; }
      #toast .modal-toast .icon:before {
        font-size: 18px;
        position: relative;
        top: 1px;
        margin-right: 5px; }
  #toast .modal-toast-info {
    background-color: #333; }
  #toast .modal-toast-success {
    background-color: forestgreen; }
  #toast .modal-toast-error {
    background-color: orangered; }

.sides-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden; }

.sides {
  width: 220px;
  height: 100%;
  background: #222426;
  position: fixed;
  left: -220px;
  right: auto;
  z-index: 100;
  overflow-y: auto; }
  .sides .table-view {
    background-color: transparent; }
    .sides .table-view .table-view-divider {
      background-color: #333; }
    .sides .table-view .media-body {
      color: #0F5DB3; }
    .sides .table-view .badge {
      background-color: rgba(255, 255, 255, 0.6); }
  .sides.sides-right {
    left: auto;
    right: -220px; }

/* === Swiper === */
.slide-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }
  .slide-container .card {
    overflow: visible; }

.slide-container-no-flexbox .control-content {
  float: left; }

.slide-container-vertical > .slide-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.slide-container-android .slide-slide, .slide-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.slide-container-multirow > .slide-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.slide-container-free-mode > .slide-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.control-content {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: block; }
  .control-content img {
    width: 100%; }

/* Auto Height */
.slide-container-autoheight, .slide-container-autoheight .slide-slide {
  height: auto; }

.slide-container-autoheight .slide-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height; }

/* a11y */
.slide-container .slide-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.slide-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.slide-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.slide-button-prev, .slide-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }
  .slide-button-prev.slide-button-disabled, .slide-button-next.slide-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none; }

.slide-button-prev, .slide-container-rtl .slide-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#007aff'/></svg>");
  left: 10px;
  right: auto; }

.slide-button-next, .slide-container-rtl .slide-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#007aff'/></svg>");
  right: 10px;
  left: auto; }

/* Pagination Styles */
.slide-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }
  .slide-pagination.slide-pagination-hidden {
    opacity: 0; }

.slide-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  line-height: 0;
  font-size: 0; }
  .slide-pagination-bullet.active {
    opacity: 1;
    background: #007aff; }

.slide-container-vertical > .slide-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }
  .slide-container-vertical > .slide-pagination .slide-pagination-bullet {
    margin: 5px 0;
    display: block; }

.slide-container-horizontal > .slide-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }
  .slide-container-horizontal > .slide-pagination .slide-pagination-bullet {
    margin: 0 5px; }

/*
/!* 3D Container *!/
.slide-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    .slide-wrapper, .control-content, .slide-slide-shadow-left, .slide-slide-shadow-right, .slide-slide-shadow-top, .slide-slide-shadow-bottom, .slide-cube-shadow {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .slide-slide-shadow-left, .slide-slide-shadow-right, .slide-slide-shadow-top, .slide-slide-shadow-bottom {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        pointer-events:none;
        z-index: 10;
    }
    .slide-slide-shadow-left {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /!* Safari 4+, Chrome *!/
        background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Chrome 10+, Safari 5.1+, iOS 5+ *!/
        background-image:    -moz-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 3.6-15 *!/
        background-image:      -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Opera 11.10-12.00 *!/
        background-image:         linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 16+, IE10, Opera 12.50+ *!/
    }
    .slide-slide-shadow-right {
        background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /!* Safari 4+, Chrome *!/
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Chrome 10+, Safari 5.1+, iOS 5+ *!/
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 3.6-15 *!/
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Opera 11.10-12.00 *!/
        background-image:         linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 16+, IE10, Opera 12.50+ *!/
    }
    .slide-slide-shadow-top {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /!* Safari 4+, Chrome *!/
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Chrome 10+, Safari 5.1+, iOS 5+ *!/
        background-image:    -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 3.6-15 *!/
        background-image:      -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Opera 11.10-12.00 *!/
        background-image:         linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 16+, IE10, Opera 12.50+ *!/
    }
    .slide-slide-shadow-bottom {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))); /!* Safari 4+, Chrome *!/
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Chrome 10+, Safari 5.1+, iOS 5+ *!/
        background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 3.6-15 *!/
        background-image:      -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Opera 11.10-12.00 *!/
        background-image:         linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)); /!* Firefox 16+, IE10, Opera 12.50+ *!/
    }
}
/!* Coverflow *!/
.slide-container-coverflow {
    .slide-wrapper {
        /!* Windows 8 IE 10 fix *!/
        -ms-perspective:1200px;
    }

}
/!* Fade *!/
.slide-container-fade {
    &.slide-container-free-mode {
        .control-content {
            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            -ms-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
    }
    .control-content {
        pointer-events: none;
        .control-content {
            pointer-events: none;
        }
    }
    .slide-slide-active {
        &, & .slide-slide-active {
            pointer-events: auto;
        }
    }
}
/!* Cube *!/
.slide-container-cube {
    overflow: visible;
    .control-content {
        pointer-events: none;
        visibility: hidden;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &.slide-container-rtl .control-content{
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
    .slide-slide-active, .slide-slide-next, .slide-slide-prev, .slide-slide-next + .slide-slide {
        pointer-events: auto;
        visibility: visible;
    }
    .slide-slide-shadow-top, .slide-slide-shadow-bottom, .slide-slide-shadow-left, .slide-slide-shadow-right {
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .slide-cube-shadow {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        z-index: 0;
    }
}
/!* Scrollbar *!/
.slide-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,0.1);
    .slide-container-horizontal > & {
        position: absolute;
        left: 1%;
        bottom: 3px;
        z-index: 50;
        height: 5px;
        width: 98%;
    }
    .slide-container-vertical > & {
        position: absolute;
        right: 3px;
        top: 1%;
        z-index: 50;
        width: 5px;
        height: 98%;
    }
}
.slide-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}
.slide-scrollbar-cursor-drag {
    cursor: move;
}*/
/* Preloader */
.slide-slide .preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10; }

.tab-container .control-content img {
  width: 100%; }

.switch-container {
  width: 100%;
  height: 100%; }
  .switch-container .slide-container-vertical, .switch-container .slide-container-horizontal {
    width: 100%;
    height: 100%; }

.content-padded.content-swipe-demo {
  height: 80%; }

.switch-container img {
  width: 100%; }
.switch-container .slide-guide {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .switch-container .slide-guide button {
    color: #000; }

h3 {
  padding-top: 10px; }

h5, p {
  line-height: 1.5em; }

.h5, h5, .h6, h6 {
  text-transform: none; }

pre {
  font-size: 12px;
  line-height: 1.2em;
  padding: 5px !important; }

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333; }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px; }
  .hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

#body {
  width: 100%;
  height: 100%; }

div[ui-widget] {
  margin: 10px 0; }
