{{ include headerTmpl }}
<div class="content sliding" id="#content">
    <ul class="table-view">
        <li class="table-view-divider">栏目</li>
    {{ _.each(data, function(item, i){ }}
        <li class="table-view-cell media">
        <a class="navigate-right" href="?{{= item.hash }}">
          <span class="media-object pull-left icon icon-{{= item.icon }}"></span>
          <div class="media-body">
            {{= item.name }}
          </div>
        </a>
      </li>
    {{  }) }}
      <li class="table-view-divider">页面</li>
      <li class="table-view-cell">Item 1</li>
      <li class="table-view-cell">Item 2</li>
    </ul>
</div>
{{ include footerTmpl }}
